.navbar-brand, .navbar-brand:hover{
    color: #D04F4F;
}

#basic-addon2{
    background-color: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.form-control{
    border-right: none
}

.card{
    max-width: 23.75rem
}

body{
    padding: 6.25rem
}