@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --primary: #D04F4F;
    --btn1: #3282F7;
    --btn2: #68D9A4;
    --btn3: #ED6454;
    --lightBG: #E7E7E7;
    --warningmsg: #ffc107;
}

body{
    /*larges écrans : padding: 6.25rem;*/
    font-family: 'Lato', sans-serif;
    position: relative;
}

header {
    position: absolute;
    z-index: 1;
}

@media screen and (min-width: 992px){
    header {
        padding: 6.25rem;
        padding-left: 6.25rem !important;
        padding-right: 6.25rem !important;
    }
}


main {
    padding-top: 29rem; /*mobiles*/
    /*padding-top: 430px;*/
}

ol, ul{
    list-style-type: none;
    padding-left: -2rem !important;
    -webkit-padding-start: 8px;
}

.bold{
    font-weight: bold;
}

.navbar-brand, .navbar-brand:hover{
    color: var(--primary);
}

/*SEARCHBAR*/
#searchbar{
    background-color: var(--lightBG);
}

#basic-addon2{
    background-color: var(--lightBG);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
.form-control{
    border-right: none
}
.show-error-msg{
    background-color: var(--warningmsg);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/*FILTERING BUTTONS*/
/*@media screen and(min-width: 768px){
    #ingredients-btn, #appareil-btn, #ustensiles-btn{
        max-width: 6.56rem;
        max-width: 50%;
    }
    #ingredients-btn{
        max-width: 6.56rem;
        max-width: 50%;
    }
    #enter-ingredient{
        width: 100%
    }
}*/



.edit-and-select_buttons{
    border: none;
    caret-color: white;
    color: white;
}
.edit-and-select_buttons::placeholder{
    color:white
}
/*Outline will need to be added again with JS for keyboard users (important for accessibility)*/
.edit-and-select_buttons:focus{
    outline: none;
}

.bi-chevron-down{
    color: white
}
#ingredients-btn{
    background-color: var(--btn1);
    position: relative;
    box-shadow: 11px 11px 19px -15px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 11px 11px 19px -15px rgba(0,0,0,0.3);
    -moz-box-shadow: 11px 11px 19px -15px rgba(0,0,0,0.3);
}
#enter-ingredient{
    background-color: var(--btn1);
}
#appareil-btn{
    background-color: var(--btn2);
}
#enter-appareil{
    background-color: var(--btn2);
}
#ustensiles-btn{
    background-color: var(--btn3);
}
#enter-ustensile{
    background-color: var(--btn3);
}

.btn-icon {
    cursor: pointer;
    /*animation: rotate .5s ease-in-out forwards;*/
}

/*@keyframes rotate {
    from {
        transform: rotate(180deg);
      }
      to {
        transform: rotate(0deg);
      }
}*/

/*filters displayed (none by default)*/
.advanced_search_results{
    display: none;
}

#edit-and-select_ingredients-results {
    /*position: absolute;*/
    max-height: 24.8rem;
    /*max-width: 42.8vw;*/ /*breakpoint à créer*/
    z-index: 1;
    background-color: var(--btn1);
    overflow: auto;
    /*left: 7.76rem;
    top: 22.04rem;*/
    padding: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

#edit-and-select_ingredients-results::-webkit-scrollbar {
    width: .7rem;
}

#edit-and-select_ingredients-results::-webkit-scrollbar-thumb {
    background: #e7e7e75b;
    border-radius: 100vw;
}

.btn-expand {
    width: 50vw;
}

.lists {
    max-height: 24.8rem;
}

.show-filters{
    display: flex;
}

.filter-element{
    cursor: pointer;
    color: white;
}

.filter-element:hover {
    color: rgba(255, 255, 255, 0.658);
}

/*CARDS*/
.card{
    width: 380px;
    height: 364px;
    max-height: 364px
    /*max-width: 20.75rem*/
}

.card-img-top{
    width: 100%;
    height: 178px
}

.card-body{
    background-color: var(--lightBG);
    font-size: 12px;
    --bs-gutter-x: 0;
}

.card-title{
    font-size: 1.13rem;
    font-weight: 400;
    max-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ingredients-ul{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    max-height: 109px;
}

.card-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    max-height: 109px;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    color: white;
    text-align: center;
}

.ingredient-tag{
    background-color: var(--btn1);
    padding: .63rem;
    padding-left: 1.25rem;
    padding-right: 1.38rem;
    border-radius: .31rem;
}
.appareil-tag{
    background-color: var(--btn2);
    padding: .63rem;
    padding-left: 1.25rem;
    padding-right: 1.38rem;
    border-radius: .31rem;
}
.ustensile-tag{
    background-color: var(--btn3);
    padding: .63rem;
    padding-left: 1.25rem;
    padding-right: 1.38rem;
    border-radius: .31rem;
}

.bi-x-circle {
    cursor: pointer;
}

#enter-ingredient {
    padding: 0 !important;
    width: 6rem !important;
}
#enter-appareil {
    padding: 0 !important;
    width: 6rem !important;
}
#enter-ustensile {
    padding: 0 !important;
    width: 6rem !important;
}